{# templates/admin/field/bien_potential_client.html.twig #}
{% set count = field.formattedValue %}

{% if count > 0 %}
    <a href="{{ ea_url()
        .setController('App\\Controller\\Admin\\ClientsCrudController')
        .setAction('index')
        .set('query', {'bien_id': entity.instance.id})
    }}" class="btn btn-sm btn-primary">
        <i class="fa fa-users"></i> {{ count }} client(s)
    </a>
{% else %}
    <span class="badge badge-secondary">{{ count }} client(s)</span>
{% endif %}